BasedOnStyle: LLVM
Language: Cpp
ColumnLimit: 100
IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
PointerAlignment: Left
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
SortIncludes: false
IncludeBlocks: Preserve
Cpp11BracedListStyle: false
